{% extends "base.html" %}

	{% block content %}	
	<p>
	In the 2011 City Council election, an unusual number of seats were open due to many city council members retiring and choosing not to run again. David Oh won a seat, becoming the first Asian American on Philadelphia's city council.  A few years later, in 2014, Bill Green resigned his city council seat when he was appointed chair of the School Reform Commission. These and other events got me thinking a lot about Philadelphia's city council.  I wondered things like...

	<ul>
	<li class = 'questions'>What does the group look like demographically -- breaking them down by race, gender, party affiliation? How has this changed over the years?</li>
	<li class = 'questions'>How often do incumbents stay in place and how often do seats turn over?</li>
	<li class = 'questions'>How do seats turnover? How often do council members resign, get voted out, choose not to run again?</li>    
	<ul>

	</p>

	<p>
	At first I just started googling and reading about city council's history.  Some councilmembers have wikipedia pages, but not all.  Sometimes I'd extract or infer data from newspaper articles or books.  Some data came directly from the city council clerk's office.  Then I started recording my findings and built a database to hold this information.  I then developed this website to visualize what I found.  You'll find a lot of "unknowns" when it comes to demographics and election data.  If you have sources to help fill these gaps please let me know!
	</p>

	{% endblock %}